html {
  height: 100%;
}
body {
	background-color: #ccc;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1) inset;
	min-height: 100%;
	margin: 0;
}
body,
input {
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Segoe UI",SegoeUI,"Helvetica","Arial",sans-serif;
}

a.disabled {
	color: #999;
}
